@model ActionSearchModel
<td>
    <input type="text" name="From" value="@Model.From.ToShortDateString()" class="datepicker short" />
</td>
<td>
~
</td>
<td>
    <input type="text" name="To" value="@Model.To.ToShortDateString()" class="datepicker short" />
</td>
