@{
    var crumb = ViewBag.Crumb as Crumb ?? CrumbList.Current.Last;
}
@if (crumb != Crumb.Root)
{
    <a class="back-link" href="@crumb.Url">@String.Format("Back to {0}".Localize(), crumb.DisplayName.ToLower().Localize())</a>
}

