@model ChangePasswordModel
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Change password".Localize();
    ViewBag.Tab = "ChangePassword";
}
<div class="common-form">
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend></legend>
            <table>
                @Html.EditorFor(o => o.OldPassword)
                @Html.EditorFor(o => o.NewPassword)
                @Html.EditorFor(o => o.ConfirmPassword)
            </table>
        </fieldset>
        <p class="buttons clearfix">
            @Html.Button("Save")
        </p>
    }
</div>
