@{
    Layout = "~/Views/Survey/Form.Master.cshtml";
    ViewBag.Title = "Survey Missing".Localize();
}
<div class="survey-formMissing">
    <h2>
        @("Can not find this survey".Localize())</h2>
    <p>
        @("This survey has been removed.".Localize())
    </p>
</div>
