/*
*
* textarea field
* author: ronglin
* create date: 2010.07.01
*
*/


/********** runtime style start (don't change this separator) **********/

.s-textarea
{
}

.s-textarea .wrap
{
    margin-top: 2px;
    border-top: 1px solid #dfdfdf;
    padding-top: 6px;
}

.s-textarea .wrap textarea
{
    width: 99%;
    height: 100px;
    resize: vertical;
}

/********** runtime style end (don't change this separator) **********/

.s-textarea-pro .fieldtitle
{
    width: 280px;
    height: 60px;
}

.s-textarea-pro .defaultvalue
{
    width: 280px;
    height: 60px;
}

.s-textarea-pro .guideline
{
    width: 280px;
    height: 60px;
}
