@{
    Layout = (string)ViewData["Layout"] ?? "_Layout.cshtml";
    ViewData.AdjustFieldPrefix();
}
@Html.TextBox(String.Empty, (object)Model, new { @class = "numeric mini" }) % (<span id="@(ViewData.ModelMetadata.PropertyName)_Number"></span>)