@{
    Layout = "_ErrorLayout.cshtml";
    ViewBag.Title = "Error".Localize();
}

<h2>@ViewBag.Title</h2>
<p>
If you see this page, it means that Kooboo Communicator encounters error in the page you try to visit.
</p>
<p>
We will fix the error as soon as possible. Please visit the page again in the future. 
</p>
