@{
    Layout = "_ErrorLayout.cshtml";
    ViewBag.Title = "Not Found".Localize();
}

<h2>@ViewBag.Title</h2>
<p>
If you see this page, it means that Kooboo Communicator has been installed on this server.
</p>
<p>
The requested URL was not found on this server. You might have typed the URL incorrectly
</p>
