/*
*
* editor anchor bar
* author: ronglin
* create date: 2010.06.11
*
*/

.kb-editoranchorbar
{
    display: none;
    position: absolute;
    width: 174px;
    padding: 6px;
    border: 2px solid #4282C3;
    background-color: #fff;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 1;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    z-index: 4;
}

.kb-editoranchorbar .kb-row
{
    padding: 3px;
}

.kb-editoranchorbar .kb-rowhr
{
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
}
