/*
*
* editor
* author: ronglin
* create date: 2010.11.23
*
*/

.kb-editor
{
}

.kb-editor-on
{
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
}

.kb-editor-off
{
    -moz-user-modify: read-only;
    -webkit-user-modify: read-only;
}
