/*
*
* arrow panel
* author: ronglin
* create date: 2010.06.17
*
*/

.kb-arrowpanel, .kb-arrowpanel var
{
    display: block;
    font-style: normal;
    color: #000000;
}

.kb-arrowpanel
{
    position: absolute;
    background-color: #f0f0f0;
    border: 2px solid #4282C3;
    color: #333333;
    font-size: 11px;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 1;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    z-index: 5;
}

.kb-arrowpanel .kb-head
{
    padding-left: 4px;
    padding-right: 2px;
    font-size: 12px;
    color: #000;
    cursor: move;
    line-height: 1.5;
    border-bottom: 1px solid #ccc; /*background-color: #d0def0;*/
}

.kb-arrowpanel .kb-title
{
    margin-right: 10px;
}

.kb-arrowpanel .kb-close
{
    float: right;
    cursor: pointer;
    color: Red;
    font-family: Verdana, Arial;
    padding-left: 2px;
    padding-right: 2px;
    text-decoration: none;
}

.kb-arrowpanel .kb-body
{
    margin: 2px;
    height: 100%;
}

.kb-arrowpanel .kb-arrow
{
    position: absolute;
    top: -16px;
    width: 32px;
    height: 16px;
    background-image: url(images/top_arrow.gif);
}

.kb-arrowpanel .kb-twinkle
{
    background-color: #4282C3;
}
