@using Kooboo.CRM;
@model Segment
@{
    Layout = "_Layout.cshtml";
    ViewBag.Tab = "Edit";
}
<div class="common-form">
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend></legend>
            <table>
                @Html.EditorFor(o => o.Name)
            </table>
        </fieldset>
        <p class="buttons clearfix">
            @Html.Button("Save")
        </p>
    }
</div>