<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <categories>
    <add name="MailboxNotFound" action="remove" />
    <add name="UnableToConnect" action="remove" />
    <add name="Blocked" action="retry" />
    <add name="MailboxFull" action="retry" />
  </categories>
  <smtps>
    <add name="ElasticEmail"
         pattern="Remote server returned the following error:\s*(?&lt;str&gt;(?&lt;code&gt;[\d.]{3,5})?[\w\W]*?)\r\n\r\n"
         failedConnectionPattern="Remote server returned the following error:\s*555 A connection attempt failed because the connected party did not" />
    <add name="KoobooMTA"
         pattern="Remote SMTP Server Returned: (?&lt;str&gt;(?&lt;code&gt;[\d.]{3,5})?[\w\W]*?)\r\n\r\n"
         failedConnectionPattern="Unable to find or connect to the destination mail server" />
    <add name="MailEnable"
         pattern="Reason: (Remote SMTP Server Returned: )?(?&lt;str&gt;(?&lt;code&gt;[\d.]{3,5})?[\w\W]*?)\r\n\r\n"
         failedConnectionPattern="(Reason: General Failure)|(Reason: The message could not be delivered because the domain name \(\S+\) does not appear to be registered)" />
    <add name="IIS"
         pattern="Diagnostic-Code: ([^;]*;)?(?&lt;str&gt;(?&lt;code&gt;[\d.]{3,5})?[\w\W]*?)\r\n\r\n"
         failedConnectionPattern="Unable to deliver message to the following recipients, due to being unable to connect successfully to the destination mail server." />
  </smtps>
  <isps>
    <isp domains="qq.com|vip.qq.com|foxmail.com">
      <categories>
        <add name="MailboxNotFound" pattern="(550 Mailbox not found)|(501 Bad address syntax)" />
        <add name="Blocked" pattern="" />
        <add name="MailboxFull" pattern="550 Mailbox unavailable or access denied" />
      </categories>
    </isp>
    <isp domains="yahoo.com.cn|yahoo.cn|yahoo.com">
      <categories>
        <add name="MailboxNotFound" pattern="(554 delivery error: dd Sorry your message to \S+ cannot be delivered. This account has been disabled or discontinued)|(554 delivery error: dd This user doesn't have a \S+ account)" />
      </categories>
    </isp>
    <isp domains="sina.com|sina.com.cn">
      <categories>
        <add name="MailboxNotFound" pattern="(522 5.2.2 can not find the user path)|(Inactive User)|(521 5.2.1 can not find the user)" />
      </categories>
    </isp>
    <isp domains="sohu.com|vip.sohu.com">
      <categories>
        <add name="MailboxNotFound" pattern="550 5.1.1 \S+: Recipient address rejected: User unknown in local recipient table" />
        <add name="Blocked" pattern="(553 5.7.3 CONTENT REJCT)|(553 5.7.1 SENDER REJECT)|(553 5.7.0 IP REJECT)|(553 5.7.4 HELOIP REJECT)" />
      </categories>
    </isp>
    <isp domains="139.com">
      <categories>
        <add name="Blocked" pattern="(Mail rejected by score limit)|(554 sender is rejected)" />
      </categories>
    </isp>
    <isp domains="tom.com">
      <categories>
        <add name="MailboxNotFound" pattern="550 \S+: Invalid User" />
        <add name="Blocked" pattern="553 this mail is blocked by kbas system" />
      </categories>
    </isp>
    <isp domains="hotmail.com|msn.com|live.cn">
      <categories>
        <add name="MailboxNotFound" pattern="550 Requested action not taken: mailbox unavailable" />
        <add name="Blocked" pattern="(550 SC-001)|(550 SC-004)|(550 OU-001)|(550 OU-002)" />
      </categories>
    </isp>
    <isp domains="gmail.com">
      <categories>
        <add name="MailboxNotFound" pattern="(The email account that you tried to reach does not exist)|(The email account that you tried to reach is disabled)" />
      </categories>
    </isp>
    <isp domains="aol.com">
      <categories>
        <add name="MailboxNotFound" pattern="550 5.1.1 \S+: Recipient address rejected" />
        <add name="Blocked" pattern="(554 RTR:CH)|(554 RTR:BB)|(554 RTR:SC)|(554 RTR:DU)|(554 RTR:GE)|(554 RTR:BL)|(554 HVU:B1)|(554 RLY:B1)|(554 RLY:B2)|(554 RLY:CH)|(554 CON:B1)" />
      </categories>
    </isp>
    <isp domains="others">
      <categories>
        <add name="MailboxNotFound" pattern="(not find)|(not found)|(unknown)|(not exist)|(disabled)|(inactive)|(recipient|user|address|mailbox rejected)|(unavailable)|(not available)|(no such)|(invalid user|recipient|address|mailbox)|(recipient|user|address|mailbox invalid)|(not our customer)"/>
        <add name="Blocked" pattern="(blocked)|(mail|message rejected)|(filtered)|(spam)|(blacklist)"/>
      </categories>
    </isp>
  </isps>
</configuration>