<?xml version="1.0" encoding="utf-8" ?>
<menus>
  <menu name="Overview" text="Overview" action="index" controller="home" group="Campaign" />
  <menu name="Campaign" text="Campaigns" action="index" controller="campaign" group="Campaign">
    <menu name="Campaign" text="Campaigns" action="index" controller="campaign" />
    <menu name="Template" text="Templates" action="index" controller="template" />
  </menu>
  <menu name="Subscriber" text="Subscribers" action="index" controller="subscriberlist" group="Campaign" >
    <menu name="List" text="List" action="index" controller="subscriberlist" />
    <menu name="Import" text="Import" action="history" controller="subscriberimport" />
  </menu>
  <menu name="Report" text="Reports" action="index" controller="report" group="Campaign">
    <menu name="Campaign" text="Campaigns" action="index" controller="report" />
    <menu name="EmailClient" text="Email clients" action="emailclient" controller="report" />
  </menu>
  <menu name="ListServer" text="Mailing list" action="index" controller="listserver" group="ListServer">
    <menu name="ListServer" text="Mailing list" action="index" controller="listserver"/>
    <menu name="History" text="Message log" action="index" controller="listserverhistory"/>
  </menu>
  <menu name="Survey" text="Survey" action="index" controller="survey"  group="Survey"/>
  <menu name="Settings" text="Settings" action="index" controller="setting" group="Settings">
    <menu name="Account" text="Account" action="index" controller="setting" />
  </menu>
  <menu name="Admin" text="Admin" action="settings" controller="application" admin="true" area="Admin">
    <menu name="Settings" text="Global settings" action="settings" controller="application" />
    <menu name="Account" text="Accounts" action="index" controller="account" />
  </menu>
</menus>