<?xml version="1.0" encoding="utf-8" ?>
<userAgents>
  <emailClients>
    <desktop>
      <category name="Outlook">
        <emailClient id="Outlook2010" name="Outlook 2010" pattern="MSOffice 14" />
        <emailClient id="Outlook2007" name="Outlook 2007" pattern="MSOffice 12" />
        <emailClient id="OutlookRest" name="Outlook 2000, 2003, Express" pattern="MSOffice" />
      </category>
      <category name="iPhone">
        <emailClient id="iPhone4" name="iPhone 4" pattern="iPhone OS 4_" />
        <emailClient id="iPhone3" name="iPhone 3" pattern="iPhone OS 3_" />
        <emailClient id="iPhone2" name="iPhone 2" pattern="iPhone OS 2_" />
        <emailClient id="iPhone1" name="iPhone 1" pattern="iPhone OS 1_" />
      </category>
      <emailClient id="LiveMail" name="Windows Live Mail" pattern="Outlook-Express/7.0" />
      <emailClient id="LotusNotes" name="Lotus Notes" pattern="Lotus-Notes" />
      <emailClient id="Thunderbird" name="Thunderbird" pattern="Thunderbrid" />
    </desktop>
    <web>
      <emailClient id="Gmail" name="Gmail" pattern="@gmail.com" cname="(googlemail|google).com" />
      <emailClient id="Hotmail" name="Hotmail" pattern="@hotmail.com" cname="hotmail.com" />
      <emailClient id="YahooMail" name="Yahoo! Mail" pattern="@yahoo.com" cname="yahoo.com" />
    </web>
  </emailClients>
  <browsers>
    <browser id="MSIE" name="MSIE" pattern="MSIE" />
    <browser id="Firefox" name="Firefox" pattern="Firefox" />
    <browser id="Chrome" name="Chrome" pattern="Chrome" />
    <browser id="Safari" name="Safari" pattern="Safari" />
    <browser id="Opera" name="Opera" pattern="Opera" />
  </browsers>
</userAgents>