<?xml version="1.0"?>
<webResources version="20110111" mode="Debug" compact="true" compress="true" cacheDuration="2592000" >

  <!-- ******************** normal ******************** -->
  <references>
    <reference name="jQuery" mimeType="text/javascript">
      <add filename="~/Scripts/jquery/jquery-1.4.4.min.js"/>
    </reference>
		<reference name="siteScripts" mimeType="text/javascript">
      <add filename="~/Scripts/jquery/jquery-1.4.4.min.js"/>
      <add filename="~/Scripts/jquery/jquery.validate.min.js"/>
      <add filename="~/Scripts/jquery/jquery.validate.unobtrusive.min.js"/>
      <add filename="~/Scripts/jquery/jquery.json-2.2.js"/>
      <add filename="~/Scripts/jquery/jquery.form.min.js"/>
      <add filename="~/Scripts/jquery/jquery-ui.min.js"/>
      <add filename="~/Scripts/jquery/jquery.numeric.js"/>
			<add filename="~/Scripts/jquery/jquery.watermark.min.js"/>
			<add filename="~/Scripts/jquery/ui.dropdownchecklist-min.js"/>
      <add filename="~/Scripts/jquery/jquery.extension.js"/>
      <add filename="~/Scripts/yardiTip/yardiTip.js"/>
      <add filename="~/Scripts/kooboo.communicator.js"/>
      <add filename="~/Scripts/js.extension.js"/>
    </reference>

		<reference name="siteStyles" mimeType="text/css">
			<add filename="~/Styles/reset.css"/>
			<add filename="~/Styles/base.css"/>
			<add filename="~/Styles/layout.css"/>
			<add filename="~/Styles/form.css"/>
      <add filename="~/Styles/survey.css"/>
      <add filename="~/Styles/typography.css"/>
      <add filename="~/Scripts/jquery/smoothness/jquery-ui-1.8.6.custom.css"/>
      <add filename="~/Scripts/yardiTip/yardiTip.css"/>
    </reference>

    <reference name="commonStyles" mimeType="text/css">
      <add filename="~/Styles/reset.css"/>
      <add filename="~/Styles/base.css"/>
      <add filename="~/Styles/layout.css"/>
      <add filename="~/Styles/common.css"/>
      <add filename="~/Styles/form.css"/>
    </reference>

    <!-- ********************* flow map ************************* -->
    <reference name="flowmapScripts" mimeType="text/javascript">
      <add filename="~/Scripts/flowmap/flowmap.js"/>
      <add filename="~/Scripts/flowmap/mapLine.js"/>
      <add filename="~/Scripts/flowmap/mapNode.js"/>
    </reference>
    
    <reference name="flowmapStyles" mimeType="text/css">
      <add filename="~/Styles/flowmap/style.css"/>
    </reference>

    <!-- ******************** survey builder start ******************** -->
    <reference name="builderjs" mimeType="text/javascript">
      <!--jquery-->
      <add filename="~/Scripts/survey/builder/reference/jquery-1.4.4.js"/>
      <add filename="~/Scripts/survey/builder/reference/jquery-ui/jquery.ui.core.js"/>
      <add filename="~/Scripts/survey/builder/reference/jquery-ui/jquery.ui.widget.js"/>
      <add filename="~/Scripts/survey/builder/reference/jquery-ui/jquery.ui.mouse.js"/>
      <add filename="~/Scripts/survey/builder/reference/jquery-ui/jquery.ui.sortable.js"/>
      <!--core-->
      <add filename="~/Scripts/survey/builder/core/corebase.js"/>
      <add filename="~/Scripts/survey/builder/core/csstool.js"/>
      <add filename="~/Scripts/survey/builder/core/pickerPanel.js"/>
      <add filename="~/Scripts/survey/builder/core/redoundoCore.js"/>
      <!--colorPicker-->
      <add filename="~/Scripts/survey/builder/colorPicker/colorPicker.js"/>
      <!--listPicker-->
      <add filename="~/Scripts/survey/builder/listPicker/listPicker.js"/>
      <add filename="~/Scripts/survey/builder/listPicker/fontSizePicker.js"/>
      <add filename="~/Scripts/survey/builder/listPicker/fontFamilyPicker.js"/>
      <!--button-->
      <add filename="~/Scripts/survey/builder/button/imageButton.js"/>
      <add filename="~/Scripts/survey/builder/button/colorPickerButton.js"/>
      <!--comboInput-->
      <add filename="~/Scripts/survey/builder/comboInput/comboInput.js"/>
      <add filename="~/Scripts/survey/builder/comboInput/fontSizeCombo.js"/>
      <add filename="~/Scripts/survey/builder/comboInput/fontFamilyCombo.js"/>
      <!--field-->
      <add filename="~/Scripts/survey/builder/field/baseField.js"/>
      <add filename="~/Scripts/survey/builder/field/baseSnippets.js"/>
      <add filename="~/Scripts/survey/builder/field/checkList.js"/>
      <add filename="~/Scripts/survey/builder/field/comboBox.js"/>
      <add filename="~/Scripts/survey/builder/field/copyright.js"/>
      <add filename="~/Scripts/survey/builder/field/formInfo.js"/>
      <add filename="~/Scripts/survey/builder/field/greeting.js"/>
      <add filename="~/Scripts/survey/builder/field/pageBreak.js"/>
      <add filename="~/Scripts/survey/builder/field/radioList.js"/>
      <add filename="~/Scripts/survey/builder/field/rateItems.js"/>
      <add filename="~/Scripts/survey/builder/field/textArea.js"/>
      <add filename="~/Scripts/survey/builder/field/textBox.js"/>
      <add filename="~/Scripts/survey/builder/field/thanks.js"/>
      <!--other-->
      <add filename="~/Scripts/survey/builder/toolbar/toolbar.js"/>
      <add filename="~/Scripts/survey/builder/message/message.js"/>
      <add filename="~/Scripts/survey/builder/resizer/resizer.js"/>
      <add filename="~/Scripts/survey/builder/group/group.js"/>
      <add filename="~/Scripts/survey/builder/tab/tab.js"/>
      <!--<add filename="~/Scripts/survey/builder/tip/tip.js"/>-->
      <add filename="~/Scripts/yardiTip/yardiTip.js"/>
      <add filename="~/Scripts/survey/builder/index.js"/>
    </reference>

    <reference name="buildercss" mimeType="text/css">
      <!--colorPicker-->
      <add filename="~/Scripts/survey/builder/colorPicker/colorPicker.css"/>
      <!--listPicker-->
      <add filename="~/Scripts/survey/builder/listPicker/listPicker.css"/>
      <!--button-->
      <add filename="~/Scripts/survey/builder/button/imageButton.css"/>
      <add filename="~/Scripts/survey/builder/button/colorPickerButton.css"/>
      <!--comboInput-->
      <add filename="~/Scripts/survey/builder/comboInput/comboInput.css"/>
      <!--field-->
      <add filename="~/Scripts/survey/builder/field/baseField.css"/>
      <add filename="~/Scripts/survey/builder/field/checkList.css"/>
      <add filename="~/Scripts/survey/builder/field/comboBox.css"/>
      <add filename="~/Scripts/survey/builder/field/copyright.css"/>
      <add filename="~/Scripts/survey/builder/field/formInfo.css"/>
      <add filename="~/Scripts/survey/builder/field/greeting.css"/>
      <add filename="~/Scripts/survey/builder/field/pageBreak.css"/>
      <add filename="~/Scripts/survey/builder/field/radioList.css"/>
      <add filename="~/Scripts/survey/builder/field/rateItems.css"/>
      <add filename="~/Scripts/survey/builder/field/textArea.css"/>
      <add filename="~/Scripts/survey/builder/field/textBox.css"/>
      <add filename="~/Scripts/survey/builder/field/thanks.css"/>
      <!--other-->
      <add filename="~/Scripts/survey/builder/toolbar/toolbar.css"/>
      <add filename="~/Scripts/survey/builder/message/message.css"/>
      <add filename="~/Scripts/survey/builder/resizer/resizer.css"/>
      <add filename="~/Scripts/survey/builder/group/group.css"/>
      <add filename="~/Scripts/survey/builder/tab/tab.css"/>
      <!--<add filename="~/Scripts/survey/builder/tip/tip.css"/>-->
      <add filename="~/Scripts/yardiTip/yardiTip.css"/>
      <add filename="~/Scripts/survey/builder/index.css"/>
    </reference>

    <reference name="runjs" mimeType="text/javascript">
      <add filename="~/Scripts/survey/runtime/index.js"/>
    </reference>

    <reference name="runcss" mimeType="text/css">
      <add filename="~/Scripts/survey/runtime/index.css"/>
      <add filename="~/Scripts/survey/runtime/field.css"/>
    </reference>
    <!-- ******************** survey builder end ******************** -->

    <!-- ******************** template designer start ******************** -->
    <reference name="loader" mimeType="text/javascript">
      <add filename="~/Scripts/designer/core/resourceLoader.js"/>
    </reference>

    <reference name="designerjs" mimeType="text/javascript">
      <!--reference-->
      <add filename="~/Scripts/designer/reference/jquery-1.4.4.js"/>
      <add filename="~/Scripts/designer/reference/jquery-ui/jquery.ui.core.js"/>
      <add filename="~/Scripts/designer/reference/jquery-ui/jquery.ui.widget.js"/>
      <add filename="~/Scripts/designer/reference/jquery-ui/jquery.ui.mouse.js"/>
      <add filename="~/Scripts/designer/reference/jquery-ui/jquery.ui.position.js"/>
      <add filename="~/Scripts/designer/reference/jquery-ui/jquery.ui.draggable.js"/>
      <add filename="~/Scripts/designer/reference/jquery-ui/jquery.ui.droppable.js"/>
      <add filename="~/Scripts/designer/reference/jquery-ui/jquery.ui.datepicker.js"/>
      <!--core-->
      <add filename="~/Scripts/designer/core/corebase.js"/>
      <add filename="~/Scripts/designer/core/csstool.js"/>
      <add filename="~/Scripts/designer/core/imageLibrary.js"/>
      <add filename="~/Scripts/designer/core/pickerPanel.js"/>
      <add filename="~/Scripts/designer/core/redoundoCore.js"/>
      <!--editor-->
      <add filename="~/Scripts/designer/editor/selection.js"/>
      <add filename="~/Scripts/designer/editor/redoundo.js"/>
      <add filename="~/Scripts/designer/editor/sniffer.js"/>
      <add filename="~/Scripts/designer/editor/editor.js"/>
      <add filename="~/Scripts/designer/editor/toolbarButton.js"/>
      <!--var editor-->
      <add filename="~/Scripts/designer/editorVar/varEditor.js"/>
      <add filename="~/Scripts/designer/editorVar/baseConfig.js"/>
      <add filename="~/Scripts/designer/editorVar/configImg.js"/>
      <add filename="~/Scripts/designer/editorVar/configInput.js"/>
      <add filename="~/Scripts/designer/editorVar/configLink.js"/>
      <add filename="~/Scripts/designer/editorVar/configList.js"/>
      <!--panel-->
      <add filename="~/Scripts/designer/panel/arrowPanel.js"/>
      <add filename="~/Scripts/designer/panel/imagePanel.js"/>
      <add filename="~/Scripts/designer/panel/linkPanel.js"/>
      <add filename="~/Scripts/designer/panel/textPanel.js"/>
      <!--colorPicker-->
      <add filename="~/Scripts/designer/colorPicker/colorPicker.js"/>
      <!--listPicker-->
      <add filename="~/Scripts/designer/listPicker/listPicker.js"/>
      <add filename="~/Scripts/designer/listPicker/fontSizePicker.js"/>
      <add filename="~/Scripts/designer/listPicker/fontFamilyPicker.js"/>
      <!--button-->
      <add filename="~/Scripts/designer/button/imageButton.js"/>
      <add filename="~/Scripts/designer/button/editCssTextButton.js"/>
      <add filename="~/Scripts/designer/button/colorPickerButton.js"/>
      <!--comboInput-->
      <add filename="~/Scripts/designer/comboInput/comboInput.js"/>
      <add filename="~/Scripts/designer/comboInput/fontSizeCombo.js"/>
      <add filename="~/Scripts/designer/comboInput/fontFamilyCombo.js"/>
      <!--anchorBar-->
      <add filename="~/Scripts/designer/anchorBar/anchorBar.js"/>
      <add filename="~/Scripts/designer/anchorBar/menuAnchorBar.js"/>
      <add filename="~/Scripts/designer/anchorBar/editorAnchorBar.js"/>
      <add filename="~/Scripts/designer/anchorBar/varAnchorBar.js"/>
      <!--sidebar-->
      <add filename="~/Scripts/designer/sideBar/sideBar.js"/>
      <add filename="~/Scripts/designer/sideBar/baseItem.js"/>
      <add filename="~/Scripts/designer/sideBar/blocksItem.js"/>
      <add filename="~/Scripts/designer/sideBar/stylesheetItem.js"/>
      <add filename="~/Scripts/designer/sideBar/redoundoItem.js"/>
      <!--other-->
      <add filename="~/Scripts/designer/resizer/resizer.js"/>
      <add filename="~/Scripts/designer/group/group.js"/>
      <!--index-->
      <add filename="~/Scripts/designer/index.js"/>
    </reference>

    <reference name="designercss" mimeType="text/css">
      <!--reference-->
      <add filename="~/Scripts/designer/reference/jquery-ui-css/jquery.ui.core.css"/>
      <add filename="~/Scripts/designer/reference/jquery-ui-css/jquery.ui.theme.css"/>
      <add filename="~/Scripts/designer/reference/jquery-ui-css/jquery.ui.datepicker.css"/>
      <!--editor-->
      <add filename="~/Scripts/designer/editor/editor.css"/>
      <add filename="~/Scripts/designer/editor/toolbarButton.css"/>
      <!--var editor-->
      <add filename="~/Scripts/designer/editorVar/varEditor.css"/>
      <!--panel-->
      <add filename="~/Scripts/designer/panel/arrowPanel.css"/>
      <add filename="~/Scripts/designer/panel/imagePanel.css"/>
      <add filename="~/Scripts/designer/panel/linkPanel.css"/>
      <add filename="~/Scripts/designer/panel/textPanel.css"/>
      <!--colorPicker-->
      <add filename="~/Scripts/designer/colorPicker/colorPicker.css"/>
      <!--listPicker-->
      <add filename="~/Scripts/designer/listPicker/listPicker.css"/>
      <!--button-->
      <add filename="~/Scripts/designer/button/imageButton.css"/>
      <add filename="~/Scripts/designer/button/colorPickerButton.css"/>
      <!--comboInput-->
      <add filename="~/Scripts/designer/comboInput/comboInput.css"/>
      <!--anchorBar-->
      <add filename="~/Scripts/designer/anchorBar/anchorBar.css"/>
      <add filename="~/Scripts/designer/anchorBar/menuAnchorBar.css"/>
      <add filename="~/Scripts/designer/anchorBar/editorAnchorBar.css"/>
      <add filename="~/Scripts/designer/anchorBar/varAnchorBar.css"/>
      <!--other-->
      <add filename="~/Scripts/designer/resizer/resizer.css"/>
      <add filename="~/Scripts/designer/sideBar/sideBar.css"/>
      <add filename="~/Scripts/designer/group/group.css"/>
      <!--index-->
      <add filename="~/Scripts/designer/index.css"/>
    </reference>


    <reference name="skinStyles" mimeType="text/css">
      <add filename="~/Styles/typography.css"/>
      <add filename="~/Styles/smoothness/jquery-ui-1.8.6.custom.css"/>
    </reference>
    <!-- ******************** template designer end ******************** -->
    
	</references>
</webResources>
