<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <threads>
    <thread interval="20">SubscriberImport,Campaign,ListServerSend</thread>
    <thread interval="5">MessageQueue</thread>
    <thread interval="900">Bounce,ListServerCatch</thread>
  </threads>
  <workers>
    <worker name="Campaign" type="Kooboo.EmailMarketing.Workers.CampaignWorker, Kooboo.EmailMarketing.Workers" />
    <worker name="MessageQueue" type="Kooboo.EmailMarketing.Workers.MessageQueueWorker, Kooboo.EmailMarketing.Workers"  />
    <worker name="Bounce" type="Kooboo.EmailMarketing.Workers.BounceWorker, Kooboo.EmailMarketing.Workers" />
    <worker name="SubscriberImport" type="Kooboo.EmailMarketing.Workers.SubscriberImportWorker, Kooboo.EmailMarketing.Workers" />
    <worker name="ListServerCatch" type="Kooboo.ListServers.Workers.ListServerCatchWorker, Kooboo.ListServer" />
    <worker name="ListServerSend" type="Kooboo.ListServers.Workers.ListServerSendWorker, Kooboo.ListServer" />
  </workers>
</configuration>